{% if currencies|length > 1 %} 
<div class="box-currency">
	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
		<div class="btn-group toggle-wrap">
			<span class="toggle">
				<span class="hidden">{{ text_currency ~ ':' }}</span>
				{% for currency in currencies %} 
				{% if (currency['symbol_left'] and currency['code'] == code) %} 
				
				{{ currency['code'] }} <span>{{ currency['symbol_left'] }}</span>
				{% elseif (currency['symbol_right'] and currency['code'] == code) %} 
				
				{{ currency['code'] }} <span>{{ currency['symbol_right'] }}</span>
				{% endif %} 
				{% endfor %} 
				<i class="material-icons-keyboard_arrow_down"></i>
			</span>
			<ul class="toggle_cont toggle_cont__right">
				{% for currency in currencies %} 
				{% if (currency['symbol_left']) %} 
				{% if (currency['code'] == code) %} 
				<li>
					<button class="currency-select selected" type="button" name="{{ currency['code'] }}">
						{{ currency['symbol_left'] }} 
						{{ currency['title'] }} 
					</button>
				</li>
				{% else %} 
				<li>
					<button class="currency-select" type="button" name="{{ currency['code'] }}">
						{{ currency['symbol_left'] }} 
						{{ currency['title'] }} 
					</button>
				</li>
				{% endif %} 
				{% else %} 
				{% if (currency['code'] == code) %} 
				<li>
					<button class="currency-select selected" type="button" name="{{ currency['code'] }}">
						{{ currency['symbol_right'] }} 
						{{ currency['title'] }} 
					</button>
				</li>
				{% else %} 
				<li>
					<button class="currency-select" type="button" name="{{ currency['code'] }}">
						{{ currency['symbol_right'] }} 
						{{ currency['title'] }} 
					</button>
				</li>
				{% endif %} 
				{% endif %} 
				{% endfor %} 
			</ul>
		</div>
		<input type="hidden" name="code" value="" />
		<input type="hidden" name="redirect" value="{{ redirect }}" />
	</form>
</div>
{% endif %} 
