<div id="banner{{ module }}" class="banners row">
	{% for banner in banners %} 
	{% if (banner['link']) %} 
	<div class="col-sm-6 {{ banner['title'] }}">
		<div class="banner-box">		
			<img src="{{ banner['image'] }}" alt="{{ banner['title'] }}" class="img-responsive" />
			<a class="clearfix link" href="{{ banner['link'] }}"></a>
			{% if (banner['description']) %} 
				<div class="s-desc"><div>{{ banner['description'] }}</div></div>
			{% endif %} 
		</div>
	</div>
	{% else %} 
	<div class="col-sm-6 {{ banner['title'] }}">
		<div class="banner-box">
			<img src="{{ banner['image'] }}" alt="{{ banner['title'] }}" class="img-responsive" />			
			{% if (banner['description']) %} 
				<div class="s-desc"><div>{{ banner['description'] }}</div></div>
			{% endif %} 
		</div>
	</div>
	{% endif %} 
	{% endfor %} 
</div>

